/* Contact */

.container article{
    text-align: center;
}

article p {
    padding: 15px 30px;
    text-align: center;
}

.box{
    margin-top: 30px;
}

.space{
    margin: 5px 0;
}

.btn-primary{
    float: right;
}

.map{
    display: block;
    width: 100%;
    height: 600px;
    margin: 0;
    border: none;
}

.div-margin{
    margin: 0 0 15px;
}

#exampleFormControlTextarea1 {
    margin: 0 0 16px;
    padding: 0 15px;
}