.Div-Login{
    width: 260px;
    height: 300px;
    background: none;
    border: 1px solid white ;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  }
  
  .Div-Login h1{
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  .Div-Login input{
    width: 200px;
    height: 30px;
    margin-top: 30px;
  }