.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  background: #1e5799;
  background: -moz-linear-gradient(-45deg,  #1e5799 0%, #2989d8 45%, #207cca 54%, #7db9e8 100%);
  background: -webkit-linear-gradient(-45deg,  #1e5799 0%,#2989d8 45%,#207cca 54%,#7db9e8 100%);
  background: linear-gradient(135deg,  #1e5799 0%,#2989d8 45%,#207cca 54%,#7db9e8 100%);
}

.link{
  text-decoration: none;
}


/* RESET */
/*
    blue DBC: #007aff
    green DBC: #39b54a
*/

nav ul,
body {
    margin:0;
}

nav ul{
    padding: 0;
    list-style: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #666;
}

a{
    color: rgb(30,87,153);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/* Grid */

.container{
  max-width: 1080px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 50px auto 50px ; /* cima/baixo esquerda/direita */
  box-sizing: border-box;
}

.space{
  margin-top: 50px;
}

.center{
  text-align: center;
}


/* SEMPRE que usar o float em filhos, usar o que está abaixo no pai deles para determinar suas alturar */
/* Retira o problema do nav não ver os filhos que estão como float e estão voando */
.clearfix:before,
.clearfix:after,
.row::before,
.row::after{
  content: "";
  /*display para criar a altura com base no tamanho da nav (ul + link) */
  display: table;
  clear: both;
}

.row{
  margin-left: -15px;
  margin-right: -15px;
}

.col{
  padding-left: 15px;
  padding-right: 15px;
  float:left;
  box-sizing: border-box;
}


/* Entender melhor o border boxsize */

.col-1{
  width: 8.3333333333%;
}

.col-2{
  width: 16.6666666667%;
}

.col-3{
  width: 25%;
}

.col-4{
  width: 33.3333333333%;
}

.col-5{
  width: 41.666666667%;
}

.col-6{
  width: 50%;
}

.col-7{
  width: 58.333333333%;
}

.col-8{
  width: 66.666666667%;
}

.col-9{
  width: 75%;
}

.col-10{
  width: 83.333333333%;
}

.col-11{
  width: 91.666666667%;
}

.col-12{
  width: 100%;
}

@media (min-width: 640px){
  .col-md-1{
      width: 8.3333333333%;
  }
  
  .col-md-2{
      width: 16.6666666667%;
  }
  
  .col-md-3{
      width: 25%;
  }
  
  .col-md-4{
      width: 33.3333333333%;
  }
  
  .col-md-5{
      width: 41.666666667%;
  }
  
  /* Entender melhor o border boxsize */
  .col-md-6{
      width: 50%;
  }
  
  .col-md-7{
      width: 58.333333333%;
  }
  
  .col-md-8{
      width: 66.666666667%;
  }
  
  .col-md-9{
      width: 75%;
  }
  
  .col-md-10{
      width: 83.333333333%;
  }
  
  .col-md-11{
      width: 91.666666667%;
  }
  
  .col-md-12{
      width: 100%;
  }
}

@media (min-width: 1080px){
  .col-lg-1{
      width: 8.3333333333%;
  }
  
  .col-lg-2{
      width: 16.6666666667%;
  }
  
  .col-lg-3{
      width: 25%;
  }
  
  .col-lg-4{
      width: 33.3333333333%;
  }
  
  .col-lg-5{
      width: 41.666666667%;
  }
  
  /* Entender melhor o border boxsize */
  .col-lg-6{
      width: 50%;
  }
  
  .col-lg-7{
      width: 58.333333333%;
  }
  
  .col-lg-8{
      width: 66.666666667%;
  }
  
  .col-lg-9{
      width: 75%;
  }
  
  .col-lg-10{
      width: 83.333333333%;
  }
  
  .col-lg-11{
      width: 91.666666667%;
  }
  
  .col-lg-12{
      width: 100%;
  }
}