/* Banner */

.carousel-item{
    height: calc(100vh - 56px);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}

h2{
    color: black;
}


.carousel-item-1{
    background-image: url("../img/maragogi1.jpeg");
}

.carousel-item-2{
    background-image: url("../img/maragogi2.png");
}

.carousel-item-3{
    background-image: url("../img/maragogi3.jpeg");
}