/* Header */

.main-header{
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    background: #aee2e9;
    position: relative;
    z-index: 99;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand img {
    height: 50px;
}