/* Section */

.main-section{
    margin-top: 15px;
    margin-bottom: 15px;
}

.card{
    border-radius: 10px;
    background: #eee;
    font-family: Helvetica, sans-serif;
    height: 100%;
}

.card p {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 20px;
}

.card img,
.card-img{
    width: 100%;
    padding: 5px;
}

.box-comes-bebes{   
    width: 116px;
    height: 138px;
}

.box-diversao{
    width: 348px;
    height: 242px;
}

.card-img{
    height: 100%;
}


h3{
    margin-top: 20px;
}