/* Body */

.main-body{
    margin-top: 20px;
}

.logo{
    width: 115px;
    padding-top: 5px;
}

.table{
    margin-top: 30px;
}

.page-link{
    background: #333;
    color: #ccc;
}

.space{
    margin-top: 15px;
}