/* HEADER */

.main-header{
    width: 100%;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3); /*  para colocar a sombra no header */
    background: #fff;
    /* cabeçalho fixo*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.logo{
    display: block; /* Definindo o display linha como display de bloco */
    width: 300px; /* Definindo o tamanho do bloco */
    height: 50px;
    float: left;
    text-align: center;
}

.logo-link{ /* Para a imagem pegar 100% do tamanho do bloco logo */
    display: inline-block;
    text-decoration: none;
    font-size: 40px;
    width: 100%;
    height: 40px;
    padding-top: 10px;
    color: rgb(30,87,153);
}

.main-header ul{
    float: right;
}

.main-header li{
    float: left;
}

@media (max-width: 640px){
    .main-header ul,
    .main-header li{
        float: none;
    }
}

.main-header ul a {
    display: block;
    padding: 15px; /* Margem interna, se adapta ao tamanho do texto */
}

#mobile-menu,
.mobile-menu{
    display: none;
    clear: both;
}

@media (max-width: 640px){
    .main-header ul{
        display: none;
    }

    .mobile-menu{
        display: block;
        width: 45px;
        height: 45px;
        padding: 10px;
        margin-top: 4px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background: #fff;
        float: right;
        box-sizing: border-box;
        cursor: pointer;
    }

    .mobile-menu span{
        display: block;
        height: 3px;
        margin: 4px 0;
        border-radius: 4px;
        background: #999;
    }
    
    #mobile-menu:checked + ul{
        display: block;
    }
}