/* BOX */

.box{
    padding: 15px;
    margin-top: 15px;
    border-radius: 8px;
    background: #ddd;
    text-align: center;
}

.box div{
    width: 120px;
    height: 120px;
    margin: 0 auto;
    padding: 30px 0;
    border: 5px solid #fff;
    background: #ddd;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bitbox, 
.box3 {
    padding: 15px 30px 15px 15px;
    margin-top: 15px;
    border-radius: 8px;
    color: #fff;
    text-align: center;/*Tirado do site : https://www.colorzilla.com/gradient-editor/*/
    background: -moz-linear-gradient(-45deg,  #007aff 0%, #39b54a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #007aff 0%,#39b54a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #007aff 0%,#39b54a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.bitbox img{
    padding: 0px 0;
    border: 5px solid #fff;
    background: #ddd;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bitbox h2{
    padding-left: 20px;
    text-align: left;    
}

.bitbox p{
    text-align: center;
}

.box3 img{
    width: 120px;
    height: 120px;
    padding: 0px 0;
    border: 5px solid #fff;
    background: #ddd;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


