/* Footer */

.main-footer{
    padding: 20px 0;
    background: #ddd;
    text-align: center;   
    margin-top: 40px; 
}

.main-footer li,
.main-footer a{
    display: inline-block;
}

.main-footer a{
    padding: 10px 20px;
}

.main-footer p {
    margin: 30px 0 0;
}