/* Pokedex */

.img-fundo{
    background-image: url("../img/fundo.jpg");
    background-size: cover;
    background-repeat:no-repeat;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.box{
    width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.col,
.row {
    padding: 0%;
    margin: 0%;
}

.altura-inicio,
.altura-inicio2{
    width: 100%;
    height: 100px;
}

.altura-inicio{
    border-top: solid 5px;
    border-left: solid 5px;
    border-right: solid 5px;
    border-top-left-radius: 20px;
}

.altura-meio,
.altura-meio2{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.altura-meio{
    border-top: solid 1px;
    border-left: solid 5px;
    border-right: solid 5px;
    border-bottom: solid 5px;
    border-bottom-left-radius: 20px;
}

.altura-meio2{
    border: solid 5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.altura-final{
    height: 150px;
}

.cor-azul{
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-right: 10px;
    background: #a0cad8;
    border: solid 2px black;
    border-radius: 50px;
}

.cor-vermelha{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 50px;
    border: solid 2px black;
    background: red;
}

.cor-amarela{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 50px;
    border: solid 2px black;
    background: yellow;
}

.cor-verde{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 50px;
    border: solid 2px black;
    background: #77dd77;
}

.tamanho-circulo{
    width: 60px;
}
.circulo-dark{
    margin: none;
    padding: none;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background: rgb(27, 26, 26);
    border:solid 3px rgb(192, 175, 175);
}

.quadrado-verde{
    width: 200px;
    height: 60px;
    margin-top: 80px;
    border-radius: 4px;
    background: #77dd77;
    border: solid 2px black;
}

.tamanho-cruz{
    width: 100px;
    height: 100px;
    margin: 10px;
}
.altura-cruz{
    width: 100px;
    height: 34px;
}
.altura-cruz1{
    width: 100px;
    height: 32px;
}
.cruz-dark{
    background: rgb(27, 26, 26);
    border: solid 1px rgb(202, 197, 197);
}

.img-poke{
    margin-top: 2px;
    width: 320px;
    height: 230px;
    border-bottom-left-radius: 20px;
    border: solid 2px;
    background-color: white;
}



#imagem-pokemon{
    margin-top: 5px;
    border-bottom-left-radius: 10px;
    border: solid 1px;
    width: 300px;
    height: 200px;
    background-image: url("../img/fundo.jpg");
}

.info-poke{
    margin-top: 20px;
    width: 320px;
    height: 240px;
    /*background:#77dd77;
    border-radius: 20px;
    border: solid 2px */
}

.form-control{
    width: 320px;
    height: 30px;
    border: solid 2px black;
}

.btn{
    color: white;
    height: 45px;
}

#areaTexto{
    padding-top: 10px;
    padding-left: 15px;
    margin-top: 10px;
    margin-left: 3px;
    width: 310px;
    height: 215px;
    resize: none;
    border-radius: 5px;
    background: #77dd77;
    color: white;
    border: solid 3px black;
    font: 8px;
}

#erro{
    color: black;
    font-weight: bold;
    height: 30px;
}

#pokedex-logo{
    padding-top: 5px;
    width: 150px;
    height: 50px;
}