/* Bandeiras */
.container{
    border: 1px solid black;
}

.altura-finlandia{
    height: 220px;
}
.altura-finlandia2{
    height: 160px;
}
.cor-finlandia{
    background: #1f0982;
}


.altura-japao{
    height: 600px;
}

.meio-japao{
    margin-top: 150px;
    width: 300px;
    height: 300px;
    background: red;
    border-radius: 50%;
}

.altura-alemanha{
    height: 200px;
}

.cor-alemanha-1{
    background: black;
}

.cor-alemanha-2{
    background: red;
}

.cor-alemanha-3{
    background: yellow;
}

.altura-grecia{
    height: 66.666666667px;
}

.cor-grecia{
    background: blue;
}

.altura-libano{
    height: 150px;
    background: red;
}

.arvore-libano{
    height: 300px;
}