.flash{
  width: 100%;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  position: fixed;
  top: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.botao{
  float: left;
}

.btn{
  width: 100px;
  height: 30px;
  font-size: 14px;
}

.verde{
  background: green;
  border-color: green;
  border-radius: 3px;
  color: white;
  margin-right: 20px;
}

.vermelho{
  background: red;
  border-color: red;
  border-radius: 3px;
  color: white;
  margin-right: 20px;
}

.azul{
  background: blue;
  border-color: blue;
  border-radius: 3px;
  color: white;
  margin-right: 20px;
}

.Home-style{
  background-color: #282c34;
  color: white;
  text-align: center;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.fade-in{
  animation: fadein 1s linear forwards;
}

.fade-out{
  animation: fadeout 1s linear forwards;
}

@keyframes fadein { from { opacity: 0; } to { opacity: 1; visibility: visible; } }
@keyframes fadeout { from { opacity: 1; } to { opacity: 0; visibility: hidden; } }


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.link{
  margin: none;
  padding: none;
  text-decoration:none;
}

#input-text{
  margin: 10px 0px 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.msg{
  width: 220px;
  height: 30px;
}